<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397461910853-pfhj2rmm3htntahvp20768aip1jaf8gr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397461910853-pfhj2rmm3htntahvp20768aip1jaf8gr</string>
	<key>API_KEY</key>
	<string>AIzaSyAM0icT1Q0Kh0N4_St4cwnJcuGQ85JOCv0</string>
	<key>GCM_SENDER_ID</key>
	<string>397461910853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saarbotzer.Royal-Frame</string>
	<key>PROJECT_ID</key>
	<string>royal-frame</string>
	<key>STORAGE_BUCKET</key>
	<string>royal-frame.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397461910853:ios:ddde88eb5cce5567fcba2c</string>
	<key>DATABASE_URL</key>
	<string>https://royal-frame.firebaseio.com</string>
</dict>
</plist>